<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/style.css" />
    <title>Ugly Web 101</title>
  </head>
  <body>
    <p
      style="
        background-color: red;
        color: white;
        font-size: 3rem;
        padding: 30px;
      "
    >
      Ugly Web 101
      <button id="btn-app">Install our App</button>
    </p>
    <script src="/index.js"></script>
  </body>
</html>
